@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    font-family: "Exo 2", sans-serif;
    scroll-behavior: smooth;
    --primary: 85, 136, 255;
    --red: 199, 52, 36;
    --green: 88, 212, 74;
    --purple: 211, 73, 242;
  }

  /* Dark Mode --> NOTE: [data-theme="dark"] is a class attribute with its value that we can assign to an element if we enclose it in brackets - Here, we are targeting the :root element and providing values when we attach this class attribute  */
  :root[data-theme="dark"] {
    color-scheme: dark;
    --textColor: 255, 255, 255;
    --textAccent: 212, 220, 225;
    --surface: 45, 45, 45;
    --contrastBg: 245, 245, 245;
    --background: 15, 15, 15;
  }
  /* Light Mode */
  :root[data-theme="light"]{
    color-scheme: light;
    --textColor: 15, 15, 15;
    --textAccent: 54, 52, 49;
    --surface: 245, 245, 245;
    --contrastBg: 15, 15, 15;
    --background: 255, 255, 255;
  }

}

@layer utilities {
  .nav::after {
    @apply content-[""] bg-contrastBg h-[3px] w-[0%] left-0 top-[1.4rem] absolute rounded-xl duration-500
  }

  .navStatic::after {
    @apply content-[""] bg-contrastBg h-[3px] w-[100%] left-0 top-[1.4rem] absolute rounded-xl
  }

  .nav:hover::after {
    @apply w-[100%]
  }

  /* Backgorund Gradients for Cards */
  .blueGradient {
    background: rgb(52,83,154);
    background: linear-gradient(131deg, rgba(52,83,154,1) 1%, rgba(85,136,255,1) 33%, rgba(245,246,250,1) 100%);
  }

  .redGradient {
    background: rgb(233,28,28);
    background: linear-gradient(131deg, rgba(233,28,28,1) 1%, rgba(218,106,97,1) 39%, rgba(249,224,227,1) 100%);
  }

  .greenGradient {
    background: rgb(57,136,48);
    background: linear-gradient(131deg, rgba(57,136,48,1) 1%, rgba(88,212,74,1) 29%, rgba(236,249,234,1) 94%);
  }

  .purpleGradient {
    background: rgb(110,13,126);
    background: linear-gradient(131deg, rgba(110,13,126,1) 1%, rgba(211,73,242,1) 51%, rgba(255,255,255,1) 100%);
  }

  .defaultGradient {
    background: rgb(16,16,17);
    background: linear-gradient(131deg, rgba(16,16,17,1) 1%, rgba(105,105,108,1) 40%, rgba(255,255,255,1) 100%);
  }
}

/* Carousel Cube Effect - SwiperJS */
.swiper {
  width: 300px;
  height: 300px;
  position: relative;
}
#mediumScreenSize {
  width: 400px;
  height: 400px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-pagination-bullet {
  /* NOTE: We MUST use the !important to override the default styles for the pagination */
  background-color: #000000 !important; 
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important; 
  opacity: 1 !important;
}


