@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    /* Dark Background and the Overlay Color (--surface) */
    --background: 15, 15, 15;
    --surface: 45, 45, 45;
  
    --onBackground: 255, 255, 255;
    --onSurface: 225, 225, 225;

    --primary: 85, 136, 255;
  }

  .light {
    --background: 255, 255, 255;
    --surface: 245, 245, 245;
  
    --onBackground: 15, 15, 15;
    --onSurface: 45, 45, 45;

    --primary: 85, 136, 255;
  }

}

@layer utilities {
  .nav::after {
    @apply content-[""] bg-black h-[3px] w-[0%] left-0 top-5 absolute rounded-xl duration-500
  }

  .nav:hover::after {
    @apply w-[100%]
  }
}



